django_register_page/bin/
django_register_page/include/
django_register_page/lib/
django_register_page/lib64
django_register_page/pyvenv.cfg
django_register_page/src/
django_register_page/loginApp/auth.log
django_register_page/loginApp/db.sqlite3
django_register_page/loginApp/loginApp/
*__pycache__/

django_backend/bin/
django_backend/include/
django_backend/lib/
django_backend/lib64
django_backend/pyvenv.cfg
django_backend/src/
django_backend/project_settings/app.log
django_backend/project_settings/db.sqlite3
django_backend/project_settings/*/migrations/

Docker/django_backend/bin/
Docker/django_backend/include/
Docker/django_backend/lib/
Docker/django_backend/lib64
Docker/django_backend/pyvenv.cfg
Docker/django_backend/src/
Docker/django_backend/project_settings/app.log
Docker/django_backend/project_settings/db.sqlite3
Docker/django_backend/project_settings/*/migrations/
Docker/Requirements/NonPython/myenv

create_post/bin/
create_post/lib/
create_post/lib64/
create_post/include/
create_post/pyvenv.cfg
create_post/Docker/project_settings/app.log
create_post/Docker/project_settings/*/migrations/
create_post/Docker/project_settings/.env.ini
