{% extends 'base.html' %}

{% block head %}
  <title> {{ title }} </title>
{% endblock %}

{% block body %}
  <form class="input-container">
    <div class="container">
      {{ form.password(class="password") }}
      <span class="placeholder">Password</span>
    </div>
    <div class="container">
      {{ form.confirm_password(class="password") }}
      <span class="placeholder">Confirm Password</span>
    </div>
    <div class="submit-container">
      {{ form.submit(class="submit-btn") }}
    </div>
  </form>

{% endblock %}
