{% extends 'taskbase.html' %}

{% block task_header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block nav_action %}
    <li><a href='{% url "logout" %}'> Logout </a></li>
    <li><a href='#'>View my post</a></li>
    <li><a href="{% url 'api-post' %}">Use API</a></li>
{% endblock %}

{% block card_header %}
    {{ form.title.errors }}
    {{ form.title }}
{% endblock %}

{% block card_input %} 
    {{ form.link.errors }}
    {{ form.link }}
{% endblock %} 

{% block card_textarea %} 
    {{ form.comment.errors }}
    {{ form.comment }}
{% endblock %}


{% block task_script %}
<script src="{% static 'js/post.js' %}"></script>
{% endblock %}