{% extends 'index.html' %}

{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Register</title>
{% endblock %}

{% block header %}
    <span class="header">Register</span>
{% endblock %}

{% block email %}
 {{ form.email.errors }}
 {{ form.email }}
{% endblock %}

{% block password %}
 {{ form.password.errors }}
 {{ form.password }}
{% endblock %}

{% block action %}
    <button type="submit">Register</button>
    <a href="{% url 'login' %}">Already have an Account?</a>
{% endblock action %}

