@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Sono:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(auto-fill, 1fr));
  gap: 2rem;
  margin-top: 1rem;
  padding: 1rem;
  overflow: hidden;
  widows: 100%;
}

.notification {
  padding: 1.2rem;
  background-color: #39A456;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0;
  transition: transform 300ms ease-in;
}

.closebtn {
  margin-left: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  transform: scale(1.3);
  transition: transform 300ms ease-in-out;
}

.closebtn:hover {
  transform: scale(1.4);
}

span > strong {
  padding: 0.5rem;
  font-size: 1.3rem;
}

.success {
  font-size: 1.2rem;
}


.card {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1rem;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
  box-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 400px;
}

input {
  border: none;
  outline: none;
}

.addbtn {
  padding: 0.4rem;
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transform: scale(1.5);
  font-weight: bold;
}

button {
  border: none;
  background: none;
  padding: 0.2rem;
}

.card-header {
  position: relative;
}

.header {
  width: 100%;
  border-bottom: 1px solid silver;
  margin: 0;
  padding: 0.3rem;
}

.header::placeholder {
  font-size: 1.1rem;
  transition: color 250ms ease-in-out;
}

.header:focus::placeholder {
  color: transparent;
}

.input-link {
  padding: 0.3rem;
  width: 100%;
}

.header + span::before {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 0%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  transition: width 250ms ease-in-out;
}

.header:focus + span::before {
  width: 100%;
}

.setText {
  font-size: 1.4rem;
  font-family: "Manrope", sans-serif;
}

.navbar-container {
  display: none;
}

/* after 'x' is clicked */
.navbar-container {
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background: #3fc5e3;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.navbar ul li > a {
  text-decoration: none;
  padding: 0 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: black;
}

.navbar ul li span {
  padding:  0.3rem;
}

.nav-header {
  font-size: 1.5rem;
  font-weight: bold;
}


.card-options {
  padding: 0.2rem;
  font-size:  1.2rem;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.card-options ul {
  list-style: none;
}

.add-task {
  padding: 0.4rem;
}

.add-task:hover {
  cursor: pointer;
}

.card-body ul {
  list-style: none;
  padding:  0.2rem;
}


.card-body a {
  color: black;
  text-decoration: none;
  transition: color 250ms ease-in-out;
  font-size: 0.9rem;
}

.card-body a:hover {
  color: #395BA4;
}
